.container {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: row;
  border: 0;
  margin-top: 80px;
}
.line {
  width: 7px;
  height: 396px;
  background-color: #52b788;
  margin: -62px 50px 0px 50px;
}
